* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  padding: 20px 50px;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-auth {
  font-size: 14px;
  font-weight: 700;
}

.header-logo {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 28px;
  margin-right: 10px;
}

.header-social {
  list-style: none;
  display: flex;;
}

.header-social li {
  width: 32px;
  height: 32px;
  background-color: rgb(255,255,255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-social li:last-child {
  margin: 0
}

.social-twitter {
  background-image: url('./twitter.svg');
}

.social-instagram {
  background-image: url('./instagram.svg');;
}

.background-circles {
  width: 560px;
  height: 460px;
  background-image: url('./background.png');  
  background-position: center;
  background-size: cover;
  margin-right: -30px;
  margin-top: 30px;
}

.background-circles div {
  position: relative;
  border-radius: 50%;
  z-index: -1;
}

.circle1 {
  width: 740px;
  height: 740px;
  right: -150px;
  top: -350px;
  background-color: #04C45C;
}

.circle2 {
  width: 72px;
  height: 72px;
  top: -300px;
  left: 350px;
  background-color: #75E3EA;
}

.circle3 {
  width: 72px;
  height: 72px;
  top: -640px;
  background: #FFC278;
}

.main-section {
  margin-top: 75px;
  position: relative;
  overflow: visible;
}

.title-block {
  display: flex;
  flex-direction: column;
}

.title-block h2 {
  font-size: 72px;
  max-width: 500px;
  margin-bottom: 16px;
  font-weight: 800;
}

.title-block span {
  font-size: 18px;
  margin-bottom: 32px;
}

.title-block button {
  width: 196px;
  height: 62px;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  font-size: 20px;
}

.register-button:active {
  background: #7C30F1;
}

.register-button {
  background: #8C30F5;
  border: none;
  color: white;
}

.login-button {
  border: 1px solid #8C30F5;
  background: white;
  color: black;
  margin-top: 20px;
}

@media (max-width: 1100px) {
  .title-block h2 {
    font-size: 32px;
  }

  .background-circles {
    margin-top: 0px;
    background-size: 500px;
    background-repeat: no-repeat;
  }
}

.mobile-buttons {
  display: none;
}


@media (max-width: 750px) {
  .title-block h2 {
    font-size: 37px;
  }

  .mobile-buttons {
    display: block;
  }
  
  .mobile-buttons button{
    font-size: 17px;
  }

  body, html {  
    overflow: hidden;
    height: 100%;
  }

  .container {
    padding: 20px 10px;
  }

  .main-section {
    margin-top: 35%;
  }

  .desktop-button {
    display: none;
  }

  .header-auth {
    display: none;
  }

  .header-logo {
    margin: 0 auto;
  }

  .header-social {
    display: none;
  }

  .title-block {
    text-align: center;
  }

  .title-block button {
    width: 275px;
    height: 52px;
  }

  .background-circles {
    position: absolute;
    background-image: none;
  }

  .circle2 {
    left: 270px;
    background: #FFC278;
  }

  .circle3 {
    display: none;
  }
} 